@import '../config/config.less';

.header {
    border-bottom: 2px solid @grey;
    font-size: 1rem;

    &__container {
        overflow: hidden;
        position: relative;
    }

    &__title {
        color: @black;
        text-align: center;
    }

    &__highlight {
        color: @primaryAccentColor;
        font-weight: bold;
    }
}
