@import '../config/config.less';

.section {
    flex-basis: 65%;
    font-size: 1rem;

    &--aside {
        flex-basis: 30%;
    }

    &--receipts {
        margin-top: 2em;
    }

    &__title-text {
        border-bottom: 1px solid @grey;
        margin-bottom: 0.25em;
    }

    &__container {
        border-radius: 3px;
        border: 2px solid @grey;
        padding: 0.5em 0.5rem;
    }
}
