@black: #171617;
@white: #fff;
@grey: #e6e6e6;
@primaryColor: #ffdb3a;
@primaryAccentColor: #f55d3e;
@secondaryAccentColor: #3a7995;
@errorColor: #9a0014;

@headerBackgroundColor: @grey;

@primaryFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
@headingFont: @primaryFont;
