// Config - Variables & Mixins
    @import './config/config.less';


// Global Styles
    @import './global/reset.less';

    html,
    body {
        background-color: @white;
        color: @black;
        font-family: @primaryFont;
        font-size: 22px;
        font-weight: 500;
        line-height: 1.5;
        margin: 0;
        min-height: 100vh;
        padding: 0;
    }

    body {
        border: 5px solid @primaryColor;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: @headingFont;
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 0.05em;
        margin: 0;
        padding: 0.25em 0;
        text-transform: uppercase;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.5em;
    }

    input,
    button {
        font-family: @primaryFont;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 2em auto;
        max-width: 60rem;
        padding: 0 2rem;

        > * {
            flex: 0 1;
        }
    }

    .aside {
        margin: 2em;
        padding: 0 0.5rem;
        width: 30%;
    }

    ::selection {
        color: @black;
        background-color: @primaryColor;
    }


// Components
    @import './components/header.less';
    @import './global/section.less';


// Elements
    @import './elements/buttons.less';
    @import './elements/market.less';
