@import '../config/config.less';

.button {
    --webkit-appearance: none;
    background: @grey;
    border-radius: 0.25em;
    border: 1px solid darken(@grey, 15%);
    cursor: pointer;
    font-weight: 700;
    margin: 0.25em 0;
    padding: 0.5em 0.5rem;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    width: 100%;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: underline;
    }

    &--secondary {
        background-color: @secondaryAccentColor;
        border-color: @secondaryAccentColor;
        color: @white;

        &:hover,
        &:focus {
            background-color: darken(@secondaryAccentColor, 10%);
        }
    }

    &--primary {
        background-color: @primaryColor;
        border-color: @primaryColor;
        color: @black;

        &:hover,
        &:focus {
            background-color: darken(@primaryColor, 15%);
        }
    }
}
