@import '../config/config.less';

.market {
    border: 1px dashed @grey;
    border-left: 0.25em solid @grey;
    font-size: 0.7em;
    margin: 0.5em 0;
    padding: 1em 0.5rem;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &--selected {
        background-color: fade(@secondaryAccentColor, 5%);
        border-color: @secondaryAccentColor;
        border-style: solid;
        color: @secondaryAccentColor;
    }

    &__event {
        font-size: 0.7em;
        text-transform: uppercase;
    }

    &__stake-input {
        --webkit-appearance: none;
        background-color: @white;
        border: 1px solid @grey;
        color: @black;
        font-size: 1em;
        font-weight: bold;
        margin: 0.25em;
        padding: 0.25em;
        text-align: center;
        width: 5em;

        &:hover,
        &:focus {
            background-color: fade(@primaryColor, 20%);
            border-color: @primaryColor;
            outline: none;
        }
    }

    &__error {
        color: @white;
        border: 1px solid fade(@errorColor, 20%);
        background-color: @errorColor;
        padding: 1em 0.5rem;
        margin: 0.5em 0;
    }
}

.section {
    &--markets {
        .market {
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: fade(@primaryAccentColor, 5%);
                border-color: @primaryAccentColor;
                color: @primaryAccentColor;
            }
        }
    }
}
